.contact-card {
display: flex;
width:100%;
height:20%;
max-height: 150px;
max-width: 400px;
background-color: #EDD7BE;
margin-bottom: 16px;
border-radius: 8px;
}

.left-section{
    width:30%;
    margin-right: 8px;
    margin-left: 8px
}

.avatar {
    width:60px;
    height: 60px;
}

.right-section {
    width:75%;
    max-width: 400px;
}

.name {
    font-weight: bold;
    font-size: 18px;
    font-family: robot;
}

.email, .phone, .area, .position {
    font-size: 12px;
    font-family: robot;
}