.login-row {
    display: flex;
    width: 100%;
}

.login-label {
    min-width: 100px;
}

.login-text {

}

.login-submit {

}

.login-submit-button {
    background-color: peru;
}